<h1>Sign Up</h1>
<!-- error messages -->
<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>
<!-- user form -->
<%= form_for @user do |f| %>
    <%= f.label :email, :class =>"form-label" %>
    <%= f.email_field :email, :class =>"form-control" %>
    <%= f.label :username, :class =>"form-label" %>
    <%= f.text_field :username, :class =>"form-control" %>
    <%= f.label :password, :class =>"form-label" %>
    <%= f.password_field :password, :class =>"form-control" %>
    <%= f.label :password_confirmation, :class =>"form-label" %>
    <%= f.password_field :password_confirmation, :class =>"form-control" %>
    <%= f.submit "Join the community", :class =>"btn btn-success" %>
<% end %>