<h1>Edit Pokemon</h1>
<!-- validation messages -->
<% if @pokemon.errors.any? %>
    <ol>
        <% @pokemon.errors.full_messages.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @pokemon do |f| %>
<!-- stat display and inputs -->
<div class="info">
        <%= f.label :name, "Team Name", {:class => "form-label"} %>
        <%= f.text_field :name, :class => "form-control" %>
        <h2>Stats</h2>
    <div class="container m-1 border border-dark rounded">
        <div class="row bg-dark bg-opacity-50">
            <div class="col"><%= link_to @pokemon.species.name, @pokemon.species, :class => "link-dark" %></div>
            <div class="col <%= @pokemon.species.element_type.split(" ")[0].downcase %> type border border-dark rounded text-center"><span><%= @pokemon.species.element_type.split(" ")[0] %></span></div>
            <div class="col <%= @pokemon.species.element_type.split(" ")[1].downcase if !@pokemon.species.element_type.split(" ")[1].nil? %> <%= p "type border border-dark rounded text-center" if !@pokemon.species.element_type.split(" ")[1].nil? %> "><span><%= @pokemon.species.element_type.split(" ")[1] %></span></div>
        </div>
        <div class="row bg-dark bg-opacity-25">
            <div class="col">Stat:</div>
            <div class="col">HP</div>
            <div class="col">Att</div>
            <div class="col">Def</div>
            <div class="col">Sp.Atk</div>
            <div class="col">Sp.Def</div>
            <div class="col">Spe</div>
        </div>
        <div class="row bg-primary bg-opacity-25">
            <div class="col">Base:</div> <!-- displayed for JS to do live calculations -->
            <div class="col" id="hp"><%= @pokemon.species.hp %></div>
            <div class="col" id="att"><%= @pokemon.species.attack %></div>
            <div class="col" id="def"><%= @pokemon.species.defense %></div>
            <div class="col" id="spatk"><%= @pokemon.species.spatk %></div>
            <div class="col" id="spdef"><%= @pokemon.species.spdef %></div>
            <div class="col" id="spe"><%= @pokemon.species.speed %></div>
        </div>
        <div class="row bg-success bg-opacity-25">
            <div class="col">IV:</div> 
            <div class="col" ><%= f.number_field :iv_hp, {:class => "form-control stat ", :id=> "ivHp"} %></div>
            <div class="col" ><%= f.number_field :iv_attack, {:class => "form-control stat", :id => "ivAtt"} %></div>
            <div class="col" ><%= f.number_field :iv_defense, {:class => "form-control stat", :id => "ivDef"} %></div>
            <div class="col" ><%= f.number_field :iv_spatk, {:class => "form-control stat", :id => "ivSpatk"} %></div>
            <div class="col" ><%= f.number_field :iv_spdef, {:class => "form-control stat", :id => "ivSpdef"} %></div>
            <div class="col" ><%= f.number_field :iv_speed, {:class => "form-control stat", :id => "ivSpe"} %></div>
        </div>
        <div class="row bg-warning bg-opacity-25">
            <div class="col">EV:</div>
            <div class="col"><%= f.number_field :ev_hp, {:class => "form-control stat", :id => "evHp"} %></div>
            <div class="col" ><%= f.number_field :ev_attack, {:class => "form-control stat", :id =>"evAtt"} %></div>
            <div class="col" ><%= f.number_field :ev_defense, {:class => "form-control stat", :id =>"evDef"} %></div>
            <div class="col" ><%= f.number_field :ev_spatk, {:class => "form-control stat", :id =>"evSpatk"} %></div>
            <div class="col" ><%= f.number_field :ev_spdef, {:class => "form-control stat", :id =>"evSpdef"} %></div>
            <div class="col" ><%= f.number_field :ev_speed, {:class => "form-control stat", :id =>"evSpe"} %></div>
        </div>
        <div class="row bg-danger bg-opacity-25">
            <div class="col">Total:</div> <!-- js to update these figures -->
            <div class="col" id="totalHp">0</div>
            <div class="col" id="totalAtt">0</div>
            <div class="col" id="totalDef">0</div>
            <div class="col" id="totalSpatk">0</div>
            <div class="col" id="totalSpdef">0</div>
            <div class="col" id="totalSpe">0</div>
        </div>
    </div>
    <div class="form-text text-center">**IV's can be a maximum of 31. Ev's are a maximum of 255 per stat and no more than 510 total**</div>
</div>
<!-- select menus -->
<div class="container">
    <div class="row">
        <div class="col">
            <%= f.label :ability_ids, :class => "form-label" %>
            <%= f.select(:ability_ids, @pokemon.species.abilities.pluck(:name, :id),{},{:class => "form-select"} )%>
        </div>
        <div class="col"> <!-- should also effect the above stats, js never implemented -->
            <%= f.label :nature_id, :class => "form-label"  %>
            <%= f.select( :nature_id, Nature.pluck(:name, :id),{},{:class => "form-select"}) %>
        </div>
        <div class="col">
            <%= f.label :item_id, :class => "form-label"  %>
            <%= f.select( :item_id, Item.pluck(:name,:id),{},{:class => "form-select"} )%>
        </div>
    </div>
</div>
<h2>Attacks</h2>
<!-- checkbox loop to display attacks -->
<p><span id="check-count">0</span> attacks selected</p><!-- js to update count -->
<div class="form-text text-center ">** Select a maximum of 4 attacks**</div>
    <div class="attacks form-check d-flex flex-wrap overflow-auto" id="attack-box">
        <%= f.collection_check_boxes :attack_ids, @pokemon.species.attacks.all.sort, :id, :name do |a| %>
            <div class="container border rounded mt-1 border-secondary col-6">
                <div class="row  bg-opacity-50 bg-secondary rounded-top">
                    <div class="col"><%= a.check_box %> <%=link_to a.object.name.capitalize, a.object, :class => "link-dark" %></div>
                    <div class="col-3 <%= a.object.element_type.downcase %> type border rounded text-center border-secondary "><%= a.object.element_type %></div>
                    <div class="col-3"><%= a.object.category %></div>
                </div>
                <div class="row bg-opacity-10 bg-secondary">
                    <div class="col">PP <%= a.object.pp %></div>
                    <div class="col">Pow. <%= a.object.power %></div>
                    <div class="col">Acc. <%= a.object.accuracy %></div>
                </div>
            </div>
        <% end %>
    </div>      
    <%= f.submit "Edit Pokemon", :class => "btn btn-success" %>
<% end %>