<h1>New Pokemon</h1>

<%= form_for @pokemon do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :species_id %>
    <%= f.select :species_id, Species.pluck(:name, :id).sort, :include_blank => true %>
    <%= f.submit %>
<% end %>