<h1>New Pokemon</h1>

<%= form_for @pokemon do |f| %>
    <%= f.label :name, :class =>"form-label" %>
    <%= f.text_field :name, :class =>"form-control", :required => true %>
    <%= f.label :species_id, :class =>"form-label"%>
    <%= f.select(:species_id,  Species.pluck(:name, :id).sort, {:include_blank => true}, {:class =>"form-select", :required => true})  %>
    <%= f.submit "Create Pokemon" , :class => "btn btn-primary" %>
<% end %>